body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    background: #3c3834;
    color: #3c3834;
    margin: 10px;
}
h1 {
  font-size: x-large;
}
a {
    color: #3c3834;
}
.conteneur {
    background: rgb(239,223,202);
    background: linear-gradient(90deg, rgba(239,223,202,1) 0%, rgba(201,188,170,1) 100%);
    border-radius: 50px;
    margin: auto;
    width: fit-content;
    max-width: 100%;
    min-width: 0%;
    padding: 20px;
}
.tab {
    overflow: hidden;
  }
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    border-radius: 10px 10px 10px 10px;
    outline: none;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
    font-size: large;
  }
.tab button:hover {
    background-color: #3c3834;
    color: #c9bcaa;
    svg {
      fill: #c9bcaa;
    }
  }
 .tab button.active {
    background-color: #3c3834;
    color: #c9bcaa;
    svg {
      fill: #c9bcaa;
    }
  }
 .tabcontent {
    display: none;
  }
  .tab button a {
    color: #3c3834;
    text-decoration: none;
  }
  .tab button:hover a {
    color: #c9bcaa;
    text-decoration: none;
  }
  .tab button.active a {
    color: #c9bcaa;
    text-decoration: none;
  }
  .accordion {
    background-color: inherit;
    cursor: pointer;
    padding: 10px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }  
  .actif, .accordion:hover {
    background-color: #3c3834;
    color: #c9bcaa;
  }  
  .accordion:before {
    content: '\002B';
    color: #3c3834;
    font-weight: bold;
    float: left;
    margin-right: 5px;
  }
  .accordion:hover:before {
    color: #c9bcaa;
  }
  .actif:before {
    content: "\2212";
    color: #c9bcaa;
  }  
  .panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
 .h_iframe iframe {
    width:100%;
    height: 480px;
}
.h_iframe {
    width:100%;
    height: 480px;
}